.input-icon-color {
    color: #00000040;
}

.theme-color {
    background-color: #5d64e6;
    color: #ffffff;
}

.theme-background {
    background: white !important;
}

.text-white {
    color: #ffffff !important;
}

.text-bold {
    font-weight: bold !important;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px !important;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-100 {
    margin-bottom: 100px;
}

.mt-0 {
    margin-top: 0px !important;
}
.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mr-10 {
    margin-right: 10px !important;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-flex-end {
    display: flex;
    justify-content: flex-end;
}

.primary-color {
    color: #1890ff !important;
}
.text-color-1 {
    color: #4D6072 !important;
}

/*Text style*/
.text-1 {
    font-size: 24px !important;
    font-weight: 600 !important;
}

.text-2 {
    font-size: 12px !important;
    font-weight: 600 !important;
}

.text-3 {
    font-size: 12px !important;
    font-weight: normal !important;
}
.text-4 {
    font-size: 16px !important;
    font-weight: 600 !important;
}
.text-5 {
    font-size: 20px !important;
    font-weight: 600 !important;
}
.text-6 {
    font-size: 28px !important;
    font-weight: 600 !important;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-modal-body{
    padding: 16px;
}

.text-14{
    font-size: 14px;
}
.text-15{
    font-size: 15px;
}

.family-poppins{
    font-family:'Poppins', sans-serif;
}

.font-medium{
    font-weight: 500;
}
.font-semi-bold{
    font-weight: 600;
}